html {
    color: #333;
    direction: ltr;
    font-size: 62.5%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
    overflow-x: hidden;
}
body {
    font-size: 1.4rem;
    font-family:  "FZLTZHK","Microsoft YaHei",Arial,Helvetica,sans-serif;
    max-width: 64rem;
    margin: 0 auto;
    min-width: 32rem;
    background: #f0f4f0;
    position: relative;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #dadada;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #dadada;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #dadada;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #dadada;
}
@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family:"iconfont" !important;
    font-size:1.6rem;
    font-style:normal;
    display: inline;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .02rem;
    -moz-osx-font-smoothing: grayscale;
}

.icon-daojishi:before { content: "\e600"; }
.icon-diqiu:before { content: "\e601"; }
.icon-dizhi:before { content: "\e602"; }
.icon-erweima:before { content: "\e603"; }
.icon-fangdajing:before { content: "\e604"; }
.icon-feiji:before { content: "\e605"; }
.icon-fenxiang:before { content: "\e606"; }
.icon-gou:before { content: "\e607"; }
.icon-gouwuche:before { content: "\e608"; }
.icon-cart:before{ content: "\e639";}
.icon-jiahao:before { content: "\e609"; }
.icon-jianhao:before { content: "\e60a"; }
.icon-jinru:before { content: "\e60b"; }
.icon-qq:before { content: "\e60c"; }
.icon-jinru1:before { content: "\e60d"; }
.icon-kongaixin:before { content: "\e60e"; }
.icon-laji:before { content: "\e60f"; }
.icon-laba:before { content: "\e610"; }
.icon-liwu:before { content: "\e611"; }
.icon-lianjie:before { content: "\e612"; }
.icon-lingdang:before { content: "\e613"; }
.icon-naochuan:before { content: "\e614"; }
.icon-quanyonghu:before { content: "\e615"; }
.icon-renminbi:before { content: "\e616"; }
.icon-saomiao:before { content: "\e617"; }
.icon-shangpin:before { content: "\e618"; }
.icon-shangpin1:before { content: "\e619"; }
.icon-shangpu:before { content: "\e61a"; }
.icon-shangchuan:before { content: "\e61b"; }
.icon-shezhi:before { content: "\e61c"; }
.icon-shizhong:before { content: "\e61d"; }
.icon-shoucang:before { content: "\e61e"; }
.icon-shu:before { content: "\e61f"; }
.icon-suoyou:before { content: "\e620"; }
.icon-touxiang:before { content: "\e621"; }
.icon-tupian:before { content: "\e622"; }
.icon-weibo:before { content: "\e623"; }
.icon-xia:before { content: "\e624"; }
.icon-xiangji:before { content: "\e625"; }
.icon-xiaoxi:before { content: "\e628"; }
.icon-xinxi:before { content: "\e629"; }
.icon-xinxijinggao:before { content: "\e62a"; }
.icon-xunhuan:before { content: "\e62b"; }
.icon-yun:before { content: "\e62c"; }
.icon-yunshu1:before { content: "\e62d"; }
.icon-zan:before { content: "\e62e"; }
.icon-zhifubao:before { content: "\e62f"; }
.icon-zhiding:before { content: "\e630"; }
.icon-zhuye:before { content: "\e631"; }
.icon-zhuce:before { content: "\e632"; }
.icon-zhucechenggong:before { content: "\e633"; }
.icon-aixin:before { content: "\e634"; }
.icon-cha:before { content: "\e635"; }
.icon-add:before { content: "\e636"; }
.icon-minus:before { content: "\e637"; }
.icon-fenlei:before { content: "\e638"; }
.icon-daipingjia:before { content: "\e63a"; }
.icon-daifahuo:before { content: "\e63b"; }
.icon-daifukuan:before { content: "\e63c"; }
.icon-left:before { content: "\e63d"; }
.icon-down:before { content: "\e63e"; }
.icon-right:before { content: "\e63f"; }
.icon-up:before { content: "\e640"; }

a ,a:hover,a:focus,a:active{
    text-decoration: none;
    color: #41c172;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clear{
    clear: both;
}
fieldset,img {
    border: 0
}
address,caption,cite,code,dfn,em,optgroup,strong,th,var {
    font-style: inherit;
    font-weight: inherit
}
:focus{outline:none;}
li ,nav ul {
    list-style: none
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}
button,input,optgroup,option,select,textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}
article,aside,audio,details,dialog,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block
}
.clearfix {
    zoom: 1
}
.clearfix:before {
    content: '';
    display: block
}
.clearfix:after {
    content: '';
    display: table;
    clear: both
}
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.widthScale10{width: 10%;}
.widthScale20{width: 20%;}
.widthScale30{width: 30%;}
.widthScale40{width: 40%;}
.widthScale50{width: 50%;}
.widthScale60{width: 60%;}
.widthScale70{width: 70%;}
.widthScale80{width: 80%;}
.widthScale90{width: 90%;}
.widthScale00{width: 100%;}
.padding-right-5{padding-right: .5rem}
.padding-right-10{padding-right: 1rem}
.padding-right-15{padding-right: 1.5rem}
.padding-right-20{padding-right: 2rem}
.badge{
    color: #ffffff;
    border-radius: 1.2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    font-size: 1.1rem;
    height: 1.8rem;
	line-height: 1.8rem;
    padding: 0 .6rem;
    font-style: normal;
}
.badge-danger{
    background-color: #ff655b;
}
.flexbox-v {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0
}

.flex-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    width: 0
}

.flex-3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: 0
}

.flex-4 {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    width: 0
    }

.flex-5 {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    width: 0
}
.rotate-90{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.rotate-180{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.fixed{position: fixed !important;}
.absolute{position: absolute}
.relative{position: relative}
.no-radius{border-radius: 0 !important;-moz-border-radius: 0 !important;-webkit-border-radius: 0 !important;}
.btn{
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    background-image: none;
    border: .1rem solid transparent;
    -moz-border-radius: .4rem; /* Firefox */
    -webkit-border-radius: .4rem; /* Safari 和 Chrome */
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0;
    padding: .6rem 1.2rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn.focus, .btn:focus, .btn:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
.btn-block{
    display: block;
    width: 100%;
}
.btn-primary{
    color: #ffffff;
    background-color: #41c172;
    border-color: #41c172;
}
.btn-primary:hover,.btn-primary:focus{
    color: #ffffff;
    background-color: #3bae67;
    border-color: #3bae67;
}
.btn-danger{
    color: #ffffff;
    background-color: #d73d32;
    border-color:  #d73d32;
}
.btn-danger:hover,.btn-danger:focus{
    color: #ffffff;
    background-color: #e74b37;
    border-color:  #e74b37;
}
.header{
    height: 4.5rem;
    line-height: 4.5rem;
    width: 100%;
    background-color: #41c172;
    color: #fff;
    position: relative;
}
.header .icon{
    font-size: 1.8rem;
    color: #fff;
}
.header .title{
    text-align: center;
    font-size: 1.8rem;
    font-family: "黑体";
}
.header .row-category .menu,.header .row-category .action{
    width: 4rem;
    text-align: center;
    cursor: default;
}
.header .row-category .searchInput{
    background-color: rgba(105, 154, 113, 0.35);
    border: none;
    width: 100%;
    height: 3rem;
    -moz-border-radius: 3rem; /* Firefox */
    -webkit-border-radius: 3rem; /* Safari 和 Chrome */
    border-radius: 3rem;
    padding: 0 1.5rem;
    color: #fff;

}
.header .row-2-left .back{
    width: 4rem;
    padding-left: 1rem;
}
.header .row-2-left .title{
    padding-right: 4rem;
}
.header .row-2-left .back .icon:before{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.footer{
    background-color: rgba(252, 252, 252, 0.9);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.footer .flex_card{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.footer .flex_card li{
    text-align: center;
    display: block;
    padding: .5rem 0;
}
.footer .flex_card li .icon{
    font-size: 2rem;
    color: #aeaeae;
}
.footer .flex_card li p{
    font-size: 1.4rem;
    color: #6e6e6e;
}
.footer li.active .icon,.footer li.active p{
    color: #41c172;
}
.opacity5{
    /* older safari/Chrome browsers */
    -webkit-opacity: 0.5;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 0.5;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 0.5;
    /* IE9 + etc...modern browsers */
    opacity: .5;
    /* IE 4-9 */
    filter:alpha(opacity=50);
    /*This works in IE 8 & 9 too*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*IE4-IE9*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}