.swiper-container .swiper-slide{
    background-color: #ffffff;
}
.swiper-container .swiper-slide img{
    max-width: 100%;
}

/*************************首页产品列表****************************/
.product-area{
    background-color: #ffffff;
    width: 100%;
    padding-bottom: .1rem;
}
.product-area .product-title{
    border-bottom: .1rem solid #e7e7e7;
    line-height: 4.5rem;
}
.product-area .product-title h3{
    margin-left: 1rem;
    font-size: 1.4rem;
    color: #41c172;
}
.product-area .product-title .icon{
    margin-right: 1rem;
    color: #9e9e9e;
}
.product-content{
    width: 100%;
}
.product-content .product-list-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: .1rem solid #e7e7e7;
    width: 100%;
}
.product-content .product-list-item:last-child{
    border-bottom: none;
}
.product-content .product-img{
    width: 12rem;
}
.product-content .product-img img{
    width: 100%;
}
.product-content .product-info{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    padding-right: .5rem;
	width: 100%;
}
.product-content .product-info h3{
    font-size: 1.6rem;
    line-height: 3.5rem;
    color: #333333;
}
.product-content .product-info .product_intro{
    color: #666666;
    font-size: 1.2rem;
}
.product-content .product-info .product-cost{
    float: right;
}
.product-content .product-info .product-cost > div{
    line-height: 2.5rem;
}
.product-content .product-info .product-sell_num{
    color: #666666;
    font-size: 1.2rem;
    margin-top: .1rem;
}
.product-content .product-info .product_price{
    color: #ff655b;
}
.product-content .product-info .product_price sup{
    font-size: 1.2rem;
    margin-right: -0.5rem;
    line-height: 1.8rem;
}
.product-content .product-info .product_price em{
    font-size: 1.8rem;
}
.product-content .product-info .product_price i{
    font-style: normal;
    margin: 0 -0.3rem;
}
.product-content .product-info .product-cart_add .icon{
    font-size: 3.5rem;
    color: #41c172;
    font-weight: 100;
}
.product-content .product-info .product-cart_add{
    margin-top: 2px;
    cursor: pointer;
}
/******************************************************/

.product-purchasing{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
    z-index: 100;
    background-color: #000;
    display: none;
}
.product-purchasing.active{
    animation:downUp 200ms;
    -webkit-animation:downUp 200ms;
    display: block;
}
.product-purchasing.hidden{
    animation:upDown 200ms;
    -webkit-animation:upDown 200ms;
    display: none;
}
@keyframes downUp
{
    0%   {height: 0%;}
    25%  {height:20%;}
    50%  {height:40%;}
    75%  {height:60%;}
    100% {height:80%;}
}
@-webkit-keyframes downUp /* Safari and Chrome */{
    0%   {height: 0%;}
    25%  {height:20%;}
    50%  {height:40%;}
    75%  {height:60%;}
    100% {height:80%;}
}
@keyframes upDown
{
    0%   {height: 50rem;}
    25%  {height:40rem;}
    50%  {height:30rem;}
    75%  {height:20rem;}
    100% {height:10rem;}
}
@-webkit-keyframes upDown /* Safari and Chrome */{
    0%   {height: 50rem;}
    25%  {height:40rem;}
    50%  {height:30rem;}
    75%  {height:20rem;}
    100% {height:10rem;}
}
.product-panel{
    background-color: #f0f4f0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.product-panel .product-view{
    background-color: #ffffff;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}
.product-panel .product-img{
    width: 12rem;
}
.product-panel .product-img img{
    width: 100%;
}
.product-panel .product-info{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1rem;
}
.product-panel .product-info .product_name{
    font-size: 1.6rem;
    line-height: 5rem;
}
.product-panel .product-info .product_price{
    color: #ff655b;
}
.product-panel .product-info .product_price sup{
    font-size: 1.2rem;
    margin-right: -.1rem;
    line-height: 2rem;
}
.product-panel .product-info .product_price em{
    font-size: 2rem;
}
.product-panel .product-info .product_price i{
    font-style: normal;
}
.product-panel .product-info .product-purchase_num{
    color: #666666;
    padding-left: 1rem;
}
.product-panel .panel-close{
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    color: #9c9c9c;
    cursor: default;
}
.product-panel .product-action{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product-panel .product-action .product-ok{
    padding: 1.2rem;
}
.product-panel .product-order{
    padding: 1rem;
}
.product-panel .product-order .order-header{
    margin-top: 1rem;
}
.product-panel .product-order .order-header .order-title{
    font-size: 1.8rem;
}
.product-panel .product-order .order-header .order-stock{
    font-size: 1.2rem;
    color: #666666;
}
.product-panel .product-order .order-action{
    padding: 1.5rem 0;
}
.product-panel .order-action .amount-down,.product-panel .order-action .amount-up{
    border: 1px solid #d9d9d9;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
}
.product-panel .order-action .amount-down{
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}
.product-panel .order-action .amount-up{
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}
.product-panel .order-action .amount-input{
    height: 3.5rem;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 8rem;
}